:root{
    --principal: #DEB26F;
    --fondo: #202020;
}
@media (max-width: 950px){
    /* ESTILOS TARJETAS */
    .tarjeta i{
        font-size: 40px;
        margin-bottom: 8px;
    }
    /* SECCION LO QUE HACEMOS */
    .loqueHacemos .target{
        width: 30%;
    }
    .loqueHacemos .target i{
        font-size: 30px;
    }
    .loqueHacemos .target h3{
        font-size: 18px;
    }
    .loqueHacemos .target p{
        font-size: 15px;
    }
    /* SECCION NUESTROS PROYECTOS */
    .imagenes{
        padding: 0 20px;
    }
    .imagenes .imagen{
        width: 45%;
        height: 300px;
    }
}
@media (max-width: 770px){
    /* ESTILOS MENU  */
    .menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--fondo);
        transform: translateX(100%);
        transition: .5s all;

    }
    .menu a{
        font-size: 28px;
        width: 100%;
        height: 40px;
        margin-top: 13px;
    }
    .menuMostrar{
        transform: translateX(0);
    }
    .botonMenu{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        background-image: url('../img/menu.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        transition: .4s all;
        cursor: pointer;
    }
    .cerrar{
        background-image: url('../img/close.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        cursor: pointer;
        z-index: 100;
    }
    /* ESTILOS BANNER */
    .contenidoBanner h2{
        font-size: 35px;
    }
    .contenidoBanner h3{
        font-size: 20px;
    }
    .barraIzquierda{
        display: none;
    }
    .tarjeta{
        height: 250px;
    }
    .tarjeta i{
        font-size: 35px;
    }
    .tarjeta p{
        font-size: 15px;
    }
    /* ESTILOS NUESTROS PROYECTOS */
    .imagenes .imagen{
        height: 250px;
    }
    /* COMO LO HACEMOS */
    .comoLoHacemos .contenido{
        width: 100%;
    }
    .comoLoHacemos .imgComoLoHacemos{
        margin-top: 35px;
        width: 100%;
        height: 300px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.9);
    }
    /* ESTILOS FOOTER */
    .contenidoFooter p{
        font-size: 15px;
    }
}
@media (max-width: 600px){
    /* ESTILOS TARJETAS */
    .tarjeta{
        width: 80%;
        height: 180px;
        margin-bottom: 30px;
    }
    /* ESTILOS LO QUE HACEMOS */
    .loqueHacemos .target{
        width: 50%;
    }
    /* ESTILOS PROYECTOS */
    .imagenes{
        padding: 0;
    }
    .imagenes .imagen{
        width: 80%;
        margin: 15px auto;
    }
    /* ESTILOS SECCION COMENTARIOS */
    .nuestrosClientes .testimonio{
        width: 80%;
        padding: 10px;
        margin: 20px auto;
        border: 1px solid var(--principal);
    }
    /* ESTILOS FORMULARIO DE CONTACTO */
    .form{
        width: 100%;
    }
    /* ESTILOS FOOTER */
    .contenidoFooter{
        width: 100%;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .contenidoFooter p{
        font-size: 18px;
    }
    .ubicacion{
        width: 100%;
    }
    .footer{
        margin-bottom: 10px;
    }

}
@media (max-width: 450px){
    .logo h1{
        font-size: 30px;
    }
    .menu a{
        font-size: 20px;
    }
    /* ESTILOS LO QUE HACEMOS */
    .loqueHacemos .target{
        width: 100%;
    }
    .loqueHacemos .target i{
        font-size: 50px;
    }
    .loqueHacemos .target h3{
        font-size: 25px;
    }
    .loqueHacemos .target p{
        font-size: 18px;
    }
    /* ESTILOS PROYECTOS */
    .imagenes .imagen{
        width: 100%;
        margin: 15px auto;
    }
    .imagenes .imagen .textoImagen h2{
        font-size: 26px;
    }
    .imagenes .imagen .textoImagen p{
        font-size: 13px;
    }
}